<div class="player_area">
  <% @players.each do |player| %>
    <ul class="player_list list">
    <% if player.id == @game.active_player %>
      <li>ACTIVE</li>
    <% end %>
      <li><%= player.name %></li>
      <li>Score: <%= player.score %></li>
    </ul>
  <% end %>
</div>

<div class="game_area">
  <h3 class="running_total"><%= @game.running_total %></h3>
  <ul class="game_button_list list">
    <li>
    <%= link_to "Bank", game_player_path(@game, @game.active_player), method: :put %>
    </li>
    <li>
    <%= link_to "Farkle", game_path(@game, points: "farkle"), method: :put %>
    </li>
  </ul>
</div>

<div class="scores_area">
    <ul class="scores_list list">
    <% scores.each_key do |roll| %>
      <li>
      <%= link_to "#{roll}: #{scores[roll]}", game_path(@game, points: scores[roll]), method: :put %>
      </li>
    <% end %>
    </ul>
</div>